.section-slide{position:relative;}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline:none;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:none;}
@font-face{font-family:'flexslider-icon';src:url('fonts/flexslider-icon.eot');src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
url('fonts/flexslider-icon.woff') format('woff'),
url('fonts/flexslider-icon.ttf') format('truetype'),
url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');font-weight:normal;font-style:normal;}
.flexslider{margin:0;padding:0;position:relative;zoom:1;}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden;}
.flexslider .slides img{width:100%;display:block;}
.flex-pauseplay span{text-transform:capitalize;}
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
.no-js .slides > li:first-child{display:block;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
.loading .flex-viewport{max-height:300px;}
.flexslider .slides{zoom:1;}
.flexslider .slides li{position:relative;}
.carousel li{margin-right:5px;}
.flex-caption{width:100%;background:rgba(255,255,255,0.5);padding:2% 2%;position:absolute;left:0;bottom:0;}
.flex-caption,
.flex-caption a,
.flex-caption a:hover,
.flex-caption a:active,
.flex-caption a:focus,
.flex-caption a:visited{margin:0;color:#000;font-size:18px;line-height:normal;text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.flex-direction-nav{width:100%;position:absolute;top:50%;left:0;}
.flex-direction-nav a{text-decoration:none;display:block;margin:0;position:absolute;bottom:0;z-index:10;overflow:hidden;cursor:pointer;color:#000000;background:#ffffff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;color:transparent;}
.flex-direction-nav .flex-prev{left:0;}
.flex-direction-nav .flex-next{right:0;}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover{opacity:0.8;}
.flex-direction-nav .flex-disabled{opacity:0 !important;filter:alpha(opacity=0);cursor:default;}
.flex-direction-nav a.fa{padding:14px;color:#000000;font:normal normal normal 14px/1 FontAwesome;}
.fa-chevron-left:before,
.fa-chevron-right:before{font-size:12px;}
.fa-chevron-right:before{float:right;}
.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#000;}
.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004';}
.flex-pauseplay a.flex-play:before{content:'\f003';}
.flex-control-nav{display:none;}
.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center;}
.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7);}
.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default;}
.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden;}
.flex-control-thumbs li{width:25%;float:left;margin:0;}
.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer;}
.flex-control-thumbs img:hover{opacity:1;}
.flex-control-thumbs .flex-active{opacity:1;cursor:default;}
@media screen and (max-width:860px){#bannerSlide{width:100%;}
#bannerSlide ul li{float:left !important;}
.flex-caption{width:100%;}
.flex-caption,
.flex-caption a{font-size:12px;}
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev{position:absolute;bottom:auto;margin-top:-30px;top:50%;right:5px;}
.flex-direction-nav .flex-prev{right:auto;left:5px;}
}