@media (max-width:321px) {
    .logo span {
        margin-left: -75px !important;
    }
}

    @media (max-width:461px) {
    .remember {
        padding: 0px 0px !important;
    }
.entry-header h1{
    font-size: 21px!important;
    
    line-height: 31px!important;
}
.breadcrumb_last{
    text-align: left;
    display: block;
}
#common_section p{float:none !important;}
    .GoogleC a{
        padding: 3px 5px !important;
        
    }
    .login_process li:hover:nth-child(4) {
  
    padding: 1px 0px !important;
}

.login_process li:hover:nth-child(5) {
     padding: 1px 0px !important;
}
    .search-form .search-submit{
        display: none;
    }
    .comment-metadata time{
        font-size: 11px;
    }
       .Itunes, .GoogleC{
             margin-top: 5px;
       }
    .Itunes a{
         padding: 3px 5px !important;
    
    }
    #common_section h1 span{
    	font-size: 25px;
    }
    .featured-thumbnail img{
    	height: auto !important;
    }
    .comments-area ol.comment-list ol.children{
    	padding-left: 0px !important;
    }
    .comments-area .comment-content p{
    	padding-right: 0px;
    	text-align: justify;
    }
    .reply{
    	float: none;
    	width: 20%;
    }
    .comments-area .comment-content{
    	padding: 0px !important;
    }
    .ressLogo{
        width: 30% !important;
        padding-left: 10px;
        height: 50px;
    }
    .sidenav {
        height: 100%;
        width: 80% !important;
        position: fixed;
        z-index: 9999999;
        top: 1px;
        left: -100%;
        background: rgba(43, 41, 41, 0.9);
        overflow-x: hidden;
        transition: all 0.6s ease-in-out;
        padding-top: 60px;
    }
    .main_review_write {
        margin-bottom: 10px;
    }
    .inputBox {
        padding-left: 0px !important;
    }
    .review_write_float h3 {
        font-size: 18px;
    }
    #review_write {
        margin-top: 0px;
    }
    #styles_rating label {
        display: block;
    }
    .my_account {
        padding: 0px 0px;
    }
    .my_account h4 {
        font-size: 20px;
    }
    .my_account button {
        margin-top: 0px !important;
    }
    .note_board p {
        display: block !important;
        margin-bottom: 10px !important;
    }
    .sidenav i {
        visibility: visible;
        display: block;
        float: left;
        margin-right: 10px;
        margin-top: 4px;
        color: #ffcc18;
    }
    #common_password {
        margin-top: 0px;
    }
    .my_account h4 {
        margin-top: 15px !important;
    }
    .form_margin h5 {
        font-size: 26px;
        margin: 11px 0px !important
    }
    .form_margin input::placeholder {
        font-family: 'montserratregular';
        font-size: 12px;
        color: #56676b !important;
    }
    .form_margin input {
        height: 40px;
        padding: 0px 10px !important;
        margin-bottom: 17px;
    }
    .form_margin img {
        width: 100%;
    }
    .form_margin button {
        margin: 8px 0px;
        height: 36px;
        font-size: 14px;
    }
    .form_social {
        margin: 4px 0px;
    }
    .form_social a {
        height: 40px !important;
        width: 40px !important;
    }
    .form_or {
        width: 75px;
        margin: 0px 0px;
    }
    .form_margin {
        padding: 30px 15px !important;
    }
    .form_inner {
        margin: 60px 0px;
        border-radius: 0px;
        min-height: auto !important;
    }
    .remember input[type=checkbox] {
        margin-right: 5px !important;
    }
    .remember span {
        font-size: 13px;
    }
    .form_inner {
        margin: 60px 8px;
        width: 95%;
    }
    .closebtn {
        display: block;
    }
    .closebtn span {
        display: block;
        float: left;
        color: #fff;
        width: 80%;
        font-size: 22px;
    }
    .closebtn p {
        display: block;
        float: right;
        width: 20%;
        text-align: right;
        padding-right: 10px;
        margin: 0px;
        color: #fff;
        font-size: 22px;
    }
    .wow_menu ul {
        text-align: left;
    }
    .logo span {
        display: inline-block;
    font-size: 30px;
    /* margin-left: -90px !important; */
    margin-left: -95px;
    margin-right: 0px;
    vertical-align: -5px;
     
    }
    .mainResposnive{
        margin-left: 50px !important;
    }
    .logo span img {
        width: 28% !important;
        height: auto;
    }
    .sidenav a {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        border-bottom: 1px solid #fff;
       
        left: 0px;
        width: 100%;
        font-size: 36px;
        margin-left: 0px;
    }
    .wow_menu ul {
        margin-left: 0px !important;
    }
    .header-top img {
        width: 100%;
    }
    .blog_detail {
        margin-bottom: 15px;
    }
    input[type="search"]{
    	padding: 10px 10px !important;
    	
    }
    .widget-area .fbox{
    	padding: 0px 0px !important;
    }
    .search-form {
    	padding: 10px 0px !important;
    	
    	display: block !important;
    	margin:0px auto !important;
    }
    #comments li.comment .comment-respond{
    	margin-left: 0px !important;
    }
    .search-form label{
    	width: 100% !important;
    }
    .search{
    	display: block !important;
    }
    .search_btn button {
        width: 140px;
        font-size: 12px;
        height: 50px;
        margin: 0px 19px;
        text-transform: capitalize;
        background: rgba(255, 255, 255, 0.8);
    }
    .logo_scroll {
        padding-top: 10px !important;
    }
    .logo {
        text-align: left !important;
        padding-left: 0px !important;
        text-align: center !important;
    }
    .menu_scroll {
        top: -24px !important;
    }
    .common_footer a {
        display: none !important;
    }
    #wow_slider {
        height: 225px !important;
    }
    .logo img {
        padding-left: 0px !important;
        width: 60% !important;
        /*height: auto;*/
        height: 60px;
    }

    .rpwwt-post-date, .rpwwt-post-comments-number{
    	font-size: 10px;
    }

    .logo_scroll img {
        margin: 10px 0px;
    }
    .widget ul li span{
    	    font-size: 15px;
    }
    .entry-header h2 a{
    	line-height: 30px;
    font-size: 20px;
    	margin: 15px 0px !important;
    }
    #common_section {
        padding: 25px 0px;
        margin-bottom: 25px;
    }
    #common_section h1 {
        text-align: center;
        font-size: 25px;
    }
    .search_shadow {
        margin: 0px 0px;
        padding-bottom: 15px !important;
    }
    #copyright {
        padding: 15px 0px;
    }
    #copyright p {
        font-size: 12px;
    }
    .wow_review1 {
        margin-bottom: 15px !important;
    }
    .iphone {
        padding: 0px 15px !important;
        padding-left: 15px !important;
    }
    .iphone img {
        width: 100%;
    }
    .common_heading {
        padding: 18px 0px !important;
    }
    .common_heading h1 {
        font-size: 30px !important;
        padding-bottom: 0px !important;
    }
    .padding_remove {
        padding: 0px 15px !important;
    }
    .demo-inner-content {
        top: 155px !important;
        width: 100% !important;
    }
    .search_btn {
        margin: 0px auto;
        width: 358px;
    }
    .innre_share {
        bottom: -21px;
        height: 40px;
        width: 40px;
        padding-top: 12px;
        padding-right: 4px;
    }
    .innre_share img {
        width: 33%;
    }
    .rating_submit {
        font-size: 12px !important;
    }
    .sharing {
        height: 40px;
        width: 40px;
        font-size: 16px;
    }
    .search_btn .fa-search {
        font-size: 15px !important;
        display: block;
    }
    .pencil i {
        font-size: 15px !important;
        margin: 0px !important;
        float: none;
    }
    .view_all {
        margin: 20px auto;
        padding: 10px 0px;
    }
    .view_all a {
        font-size: 14px;
    }
    .background_blue h4 {
        font-size: 25px;
    }
    .background_blue p {
        font-size: 15px;
        padding: 0px 3%;
    }
    .background_blue p br {
        display: none;
    }
    .background_blue {
        margin-bottom: 15px;
        padding: 15px 0px;
    }
    #most_rated {
        padding: 30px 0px;
    }
    .mosre_rated img {
        height: auto !important;
    }
    .moste_slider {
        height: auto !important;
        border: 1px solid #dfdfdf !important;
        margin: 0px 15px;
    }
    .padding_inside {
        text-align: center;
    }
    .float_img h3 {
        font-size: 21px;
        padding: 15px 0px !important;
    }
    #recentblog .owl-dots {
        margin: 20px !important;
    }
    #recent_blog {
        margin-top: 0px !important;
    }
    .download_app {
        text-align: center;
        padding: 0px;
    }
    .download_background {
        padding: 20px 0px !important;
        padding-bottom: 0px !important;
    }
    .download_app h5 {
        font-size: 20px;
    }
    .download_app h4 {
        font-size: 25px;
    }
    .download_app p {
        margin: 14px 18px;
    }
    .app_download a {
        float: left;
        width: 47%;
        margin-right: 0px;
    }
    .app_download a img {
        width: 100%;
        margin: 20px 10px;
    }
    #footer_main p {
        text-align: center;
        font-size: 14px;
    }
    #footer_main {
        padding: 25px 0px;
        padding-bottom: 0px !important;
    }
    .remo_padding1 p {
        display: none;
    }
    .social-sharing{
    	width: 80% !important;
    }
    .posts-related ul.grid-related-posts li{
    	width: 100% !important;
    }
    .comments-area p.form-submit{
    	padding-bottom: 0px !important;
    }
    .common_footer h4 {
        font-size: 18px;
        display: none;
        text-align: center;
    }
    .featured-sidebar .search-field{
    	margin-bottom: 15px !important;
        margin-top: 15px !important;
    }
    .remo_padding1 input {
        margin-left: 15px !important;
        margin: 15px 0px;
    }
    .remo_padding1 button {
        margin: 15px 5px;
    }
    .remo_padding1 a {
        display: none;
    }
    #common_section {
        padding: 25px 0px !important;
    }
    #common_section h1 {
        font-size: 25px !important;
        padding: 10px 0px !important;
    }
    #common_section p {
        text-align: center;
    }
    #selectboxCommon {
        margin-bottom: 45px !important;
    }
    .proceed {
        margin-top: 0px;
    }
    .remo_padding p {
        width: 100%;
        font-size: 20px;
        text-align: center;
        float: none;
        line-height: 28px !important;
    }
    #search_review {
        padding-top: 20px;
    }
    .search_rew_a {
        float: none;
        width: 60%;
        margin: 20px auto;
    }
    .remo_padding {
        padding: 0px 15px !important;
    }
    .top_padding {
        margin-bottom: 0px;
    }
    .review_details {
        margin-top: 0px;
    }
    .review_img {
        width: 100%;
        float: none;
    }
    .inner_left {
        float: none;
        padding-top: 15px;
    }
    .hoverImg {
        right: 15px;
    }
    .sidebar_img:hover .hoverImg {
        width: 78%;
    }
    .review_left {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
    .review_left a {
        width: 100%;
    }
    .padding_right1 {
        padding: 0px 15px !important;
    }
    .sidebar_img img {
        height: auto;
    }
    .wow_menu ul li {
        padding: 10px 0px !important;
        display: block;
        text-transform: capitalize;
    }
    .login_process li {
        display: block;
        margin: 0px 0px !important;
        padding-left: 0px;
        text-transform: capitalize;
            visibility: visible;
    font-family: "Montserrat";
    font-style: normal;
    padding: 0px 0px !important;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    }
    .login_process li a{
    	color: #333434;
    }
    .GoogleC, .Itunes{
    	    width: 34px;
    padding: 7px !important;
    float: left;
    height: 34px;
    text-align: center;
    }
    .login_process li:nth-child(4){
    	background: #fff;
        margin-top: 5px !important;
        margin-right: 10px !important;
    }
    .login_process li:nth-child(5){
    	background: #fff;
        margin-top: 5px !important;
    }
    .login_process {
        text-align: left;
    }
    #forgot_password .form_inner {
        width: 95% !important;
    }
  
    .wow_menu ul li a{
   visibility: visible;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-left: 0px;
    text-transform: capitalize !important;

    }
    .login_process li:hover {
        padding: 10px 0px !important;
        border: 0px !important;
    }
    .wow_menu ul li:hover {
        color: #fff !important;
        border-bottom: 0px solid transparent !important;
    }
    .review_right {
        width: 100%;
        background-size: cover;
    }
    .main_review_write img {
        float: none;
        margin: 22px 15px;
        width: 90% !important;
    }
    .review_write_float {
        float: none;
        padding: 22px 15px;
    }
    .review_right img {
        width: auto !important;
    }
    .fileupload p {
        float: none;
    }
    .fileupload button {
        float: none;
    }
    .desktop_hide {
        display: block !important;
    }
    #accordion2 .accordion-toggle {
        font-size: 15px;
    }
    #accordion2 {
        margin: 30px 0px;
    }
    #privacy_policy {
        padding: 30px 0px;
    }
    #privacy_policy h3 {
        font-size: 16px;
        line-height: 30px;
    }
    #privacy_policy p {
        text-align: justify;
    }
    #privacy_policy ul li {
        margin-left: 15px;
    }
    #privacy_policy ul h3 {
        margin-left: 0px !important;
    }
    .top_profile {
        margin-top: 0px;
        border: 0px;
    }
    .top_profile h4 {
        font-size: 20px;
    }
    .top_profile {
        padding: 15px 5px !important;
    }
    .top_profile a {
        margin-top: 0px;
    }
    .skew_class {
        margin-left: 0px;
    }
    .skew_class:after {
        transform: none !important;
    }
    .myAccount ul a li {
        width: 100%;
    }
    .my_account ul li strong {
        width: 95px;
        font-size: 13px;
    }
    .my_account ul li span {
        font-size: 13px;
    }
    .borderbottom {
        border: 0px;
    }
    .myAccount ul a li {
        font-size: 13px;
    }
    .recent_padding {
        margin: 10px 0px;
    }
    .recent_padding .padding_remove {
        padding: 0px 0px !important;
    }
    .recent_margin {
        padding-right: 0px !important;
    }
    .collapseExample1 {
        width: 100%;
        font-size: 20px;
        border: 1px solid #ccc;
        padding: 12px 15px;
        text-align: center;
        font-size: 12px !important;
        margin: 0px 0px !important;
    }
    .Common_form label {
        display: block !important;
    }
    .search-field{
        margin-bottom: 10px;
    }
      
}

@media (min-width:461px) and (max-width:767px) {
    .remember {
        padding: 0px 0px !important;
    }
.entry-header h1{
    font-size: 21px!important;
    
    line-height: 31px!important;
}
#common_section p{float:none !important;}
    .search-field{
        margin-bottom: 10px;
    }
      .search-form .search-submit{
        display: none;
    }
      input[type="search"]{
    	padding: 10px 10px !important;
    	
    }
    .widget-area .fbox{
    	padding: 0px 0px !important;
    }
    .search-form {
    	padding: 10px 0px !important;
    	
    	display: block !important;
    	margin:0px auto !important;
    }
     .login_process li {
        display: block;
        margin: 0px 0px !important;
        padding-left: 0px;
        text-transform: capitalize;
            visibility: visible;
    font-family: "Montserrat";
    font-style: normal;
    padding: 0px 0px !important;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    }
    .wow_menu ul li a{
        text-transform: capitalize !important;
    }
    .login_process li a{
    	color: #333434;
    }
    .GoogleC, .Itunes{
    	    width: 34px;
             margin-top: 5px;
    padding: 5px !important;
    float: left;
    height: 34px;
    text-align: center;
    }
    .Itunes a{
        padding: 2px 0px !important;
    }
    .GoogleC a{
        padding: 2px 0px !important;
    }
   .login_process li:nth-child(4){
        background: #fff;
        margin-top: 5px !important;
        margin-right: 10px !important;
    }
    .login_process li:nth-child(5){
        background: #fff;
        margin-top: 5px !important;
    }
    .login_process {
        text-align: left;
    }
    .main_review_write {
        margin-bottom: 10px;
    }
    .inputBox {
        padding-left: 0px !important;
    }
    .review_write_float h3 {
        font-size: 18px;
    }
    #review_write {
        margin-top: 0px;
    }
    #styles_rating label {
        display: block;
    }
    .note_board p {
        display: block !important;
        margin-bottom: 10px !important;
    }
    .sidenav {
        height: 100%;
        width: 80% !important;
        position: fixed;
        z-index: 9999999;
        top: 1px;
        left: -100%;
        background: rgba(43, 41, 41, 0.9);
        overflow-x: hidden;
        transition: all 0.6s ease-in-out;
        padding-top: 90px;
    }
    .ressLogo {
    width: 50% !important;
    padding-left: 10px;
}
    .sidenav i {
        visibility: visible;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    color: #ffcc18;
    }
    .form_margin h5 {
        font-size: 26px;
        margin: 11px 0px !important
    }
    .form_margin input::placeholder {
        font-family: 'montserratregular';
        font-size: 12px;
        color: #56676b !important;
    }
    .form_margin input {
        height: 40px;
        padding: 0px 10px !important;
        margin-bottom: 17px;
    }
    .form_margin img {
        width: 100%;
    }
    .form_margin button {
        margin: 8px 0px;
        height: 36px;
        font-size: 14px;
    }
    .form_social {
        margin: 4px 0px;
    }
    .form_social a {
        height: 40px !important;
        width: 40px !important;
    }
    .form_or {
        width: 75px;
        margin: 0px 0px;
    }
    .form_margin {
        padding: 30px 15px !important;
    }
    .form_inner {
        margin: 60px 0px;
        border-radius: 0px;
        min-height: auto !important;
    }
    .remember input[type=checkbox] {
        margin-right: 5px !important;
    }
    .remember span {
        font-size: 13px;
    }
    .form_inner {
        margin: 60px 8px;
        width: 95%;
    }
    .closebtn {
        display: block;
    }
    .closebtn span {
        display: block;
        float: left;
        color: #fff;
        width: 80%;
        font-size: 22px;
    }
    .closebtn p {
        display: block;
        padding-top: 11px;
        float: right;
        width: 20%;
        text-align: right;
        padding-right: 10px;
        margin: 0px;
        color: #fff;
        font-size: 22px;
    }
    .wow_menu ul {
        text-align: left;
    }
    .logo span {
       display: inline-block;
        font-size: 30px;
        margin-left: -105px;
        vertical-align: -5px;
    }
    .mainResposnive{
        margin-left: 50px;
    }
    .logo span img {
        width: 40% !important;
        height: auto;
    }
    .sidenav a {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
           position: absolute;
    top: 0;
    border-bottom: 1px solid #fff;
    left: 0px;
    width: 100%;
    font-size: 36px;
    margin-left: 0px;
    }
    .wow_menu ul {
        margin-left: 0px !important;
    }
    .header-top img {
        width: 100%;
    }
    .blog_detail {
        margin-bottom: 15px;
    }
    .search_btn button {
        width: 140px;
        font-size: 12px;
        height: 50px;
        margin: 0px 19px;
        text-transform: capitalize;
        background: rgba(255, 255, 255, 0.8);
    }
    .logo_scroll {
        padding-top: 10px !important;
    }
    .logo {
        text-align: left !important;
        padding-left: 0px !important;
        text-align: center !important;
    }
    .menu_scroll {
        top: -24px !important;
    }
    .common_footer a {
        display: none !important;
    }
    #wow_slider {
        height: 225px !important;
    }
    .logo img {
        padding-left: 0px !important;
        width: 40% !important;
        height: auto;
    }
    .logo_scroll img {
        margin-top: 7px;
    }
    #common_section {
        padding: 25px 0px;
    }
    #common_section h1 {
        text-align: center;
        font-size: 25px;
    }
    .search_shadow {
        margin: 0px 0px;
        padding-bottom: 15px !important;
    }
    #copyright {
        padding: 15px 0px;
    }
    #copyright p {
        font-size: 12px;
    }
    .wow_review1 {
        margin-bottom: 15px !important;
    }
    .iphone {
        padding: 0px 15px !important;
        padding-left: 15px !important;
    }
    .iphone img {
        width: 100%;
    }
    .common_heading {
        padding: 18px 0px !important;
    }
    .common_heading h1 {
        font-size: 30px !important;
        padding-bottom: 0px !important;
    }
    .padding_remove {
        padding: 0px 15px !important;
    }
    .demo-inner-content {
        top: 155px !important;
        width: 100% !important;
    }
    .search_btn .fa-search {
        font-size: 15px !important;
        display: block;
    }
    .pencil i {
        font-size: 15px !important;
        margin: 0px !important;
        float: none;
    }
    .view_all {
        margin: 20px auto;
        padding: 10px 0px;
    }
    .view_all a {
        font-size: 14px;
    }
    .background_blue h4 {
        font-size: 25px;
    }
    .background_blue p {
        font-size: 15px;
        padding: 0px 3%;
    }
    .background_blue p br {
        display: none;
    }
    .background_blue {
        margin-bottom: 30px;
        padding: 15px 0px;
    }
    #most_rated {
        padding: 30px 0px;
    }
    .mosre_rated img {
        height: auto !important;
    }
    .moste_slider {
        height: auto !important;
        border: 1px solid #dfdfdf !important;
        margin: 0px 15px;
    }
    .padding_inside {
        text-align: center;
    }
    .float_img h3 {
        font-size: 21px;
        padding: 15px 0px !important;
    }
    #recentblog .owl-dots {
        margin: 20px !important;
    }
    #recent_blog {
        margin-top: 0px !important;
    }
    .download_app {
        text-align: center;
        padding: 0px;
    }
    .download_background {
        padding: 20px 0px !important;
        padding-bottom: 0px !important;
    }
    .download_app h5 {
        font-size: 20px;
    }
    .download_app h4 {
        font-size: 25px;
    }
    .download_app p {
        margin: 14px 18px;
    }
    .app_download a {
        float: left;
        width: 47%;
        margin-right: 0px;
    }
    .app_download a img {
        width: 100%;
        margin: 20px 10px;
    }
    #footer_main p {
        text-align: center;
        font-size: 14px;
    }
    #footer_main {
        padding: 25px 0px;
        padding-bottom: 0px !important;
    }
    .remo_padding1 p {
        display: none;
    }
    .common_footer h4 {
        font-size: 18px;
        text-align: center;
        display: none;
    }
    .remo_padding1 input {
        margin-left: 15px !important;
        margin: 15px 0px;
    }
    .remo_padding1 button {
        margin: 15px 5px;
    }
    .remo_padding1 a {
        display: none;
    }
    #common_section {
        padding: 25px 0px !important;
    }
    #common_section h1 {
        font-size: 25px !important;
        padding: 10px 0px !important;
    }
    #common_section p {
        text-align: center;
    }
    #selectboxCommon {
        margin-bottom: 45px !important;
    }
    .proceed {
        margin-top: 0px;
    }
    .remo_padding p {
        width: 100%;
        font-size: 20px;
        text-align: center;
        float: none;
        line-height: 28px !important;
    }
    #search_review {
        padding-top: 20px;
    }
    .search_rew_a {
        float: none;
        width: 60%;
        margin: 20px auto;
    }
    .remo_padding {
        padding: 0px 15px !important;
    }
    .top_padding {
        margin-bottom: 0px;
    }
    .review_details {
        margin-top: 0px;
    }
    .review_img {
        width: 100%;
        float: none;
    }
    .inner_left {
        float: none;
        padding-top: 15px;
    }
    .hoverImg {
        right: 15px;
    }
    .sidebar_img:hover .hoverImg {
        width: 78%;
    }
    .review_left {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
    .review_left a {
        width: 100%;
    }
    .padding_right1 {
        padding: 0px 15px !important;
    }
    .sidebar_img img {
        height: auto;
    }
    .wow_menu ul li {
        padding: 10px 0px !important;
        display: block;
        text-transform: capitalize;
    }
    .login_process li {
        display: block;
        margin: 0px 0px !important;
        padding-left: 0px;
        text-transform: capitalize;
    }
    .login_process {
        text-align: left;
    }
    #forgot_password .form_inner {
        width: 95% !important;
    }
 

    .wow_menu ul li:hover {
        color: #fff !important;
        border-bottom: 0px solid transparent !important;
    }
    .review_right {
        width: 100%;
        background-size: cover;
    }
    .main_review_write img {
        float: none;
        margin: 22px 15px;
        width: 90% !important;
    }
    .review_write_float {
        float: none;
        padding: 22px 15px;
    }
    .review_right img {
        width: auto !important;
    }
    .fileupload p {
        float: none;
    }
    .fileupload button {
        float: none;
    }
    .desktop_hide {
        display: block !important;
    }
      .comments-area ol.comment-list ol.children{
    	padding-left: 0px !important;
    }
    .comments-area .comment-content p{
    	padding-right: 0px;
    	text-align: justify;
    }
    .reply{
    	float: none;
    	width: 20%;
    }
    .comments-area .comment-content{
    	padding: 0px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {

.logo img{
  width: auto !important;
 
}
.ratingone{
  float: left !important;
    width: auto !important;
    margin-left: 20px;
  }
.logo_scroll img{
  
  margin-top: 10px;
}
.logo {
  text-align: center;
  padding-bottom: 0px;
}
.wow_menu ul{
  margin-left: 0px !important;
}
.wow_menu ul li{
  padding: 20px 6px !important;
}
.wow_menu ul{
  margin-left: 0px;
  text-align: left !important;
}

.login_process li{
  margin: 6px 0px !important;
  padding: 10px 9px;
}
.login_process li:nth-child(4) {
    margin-right: 0px !important;
     border-radius: 8px;
     padding: 0px 6px;
     background: #fff;
    
}
.login_process li:nth-child(5) {
    background: #fff;
    color: #222;
     border-radius: 8px;
     padding: 0px 6px;
}
.rectangle_23_left h4{
  font-size: 22px;
  padding: 12px 0px !important;
}
.common_Seletct{

  padding-left: 15px; 
}
.responsiveRight{
  text-align: left !important;
}
.login_process li:hover:nth-child(3) {
     color: #95c23c;
     padding: 0px 0px !important;
}

.login_process li:hover:nth-child(4) {
     padding: 0px 0px !img
}
.iphone img{
  width: 100%;
}
.wow_review1 {
  margin-bottom: 15px;
}
.login_inner, .form_inner{
  width: 95%;
}
#forgot_password .form_inner{
  width: 95%;
}
.responsice-center{
  text-align: center;
}
#most_rated{
background-size: cover;
padding-bottom: 50px !important;
}
.background_blue{
  margin-bottom: 20px;
}
.moste_slider{
  height: auto !important;
}
.mosre_rated img{
  height: auto;
}
.tabviewsClass{
  margin-bottom: 15px;
}
.download_app h4{
  font-size: 25px;
}
.download_app h5{
  font-size: 35px;
}
.app_download img{
  display: block;
  float: left;
  width: 160px;
}

.common_footer ul li{
  text-align: left !important;
}
.common_footer h4{
  text-align: left;
}
.common_footer p{
  text-align: left !important;
}
.tabFooter  {
  text-align: center;
}
.tabFooter p{
 
  display: block !important;
  padding: 0px 20%;
  padding-bottom: 30px;
}
#common_section{
  padding: 35px 0px;
}
#common_section h1{
  font-size: 40px;
}
.review_img{
  width: 135px;
}
.research_today{
  font-size: 18px;
}
.sidebar_img img{
 display: none;
}
  input::placeholder{
    font-size: 14px !important;
  }
  .sidebar_img_2 {
    display: none;
  }
  .rectangle_23_left{
    width: 69%;
  }
.listing_side label{
  font-size: 20px;
}
#check_boxes label{
  font-size: 12px;
}
.remo_padding p{
  width: 50%;
}
.research_today{
  font-size: 15px;
}
.sorting_list h3{
  margin-top: 0px !important;
}
.review_img{
  width: 130px;
}
.remo_padding{
  padding-left: 15px !important;
}
.review_left{
  width: 69%;
}
.recent_review p{
  min-height: auto;
}

.inner_right{
  text-align: left;
  float: left;
}
.social_sharing_search{
  padding: 10px 0px;
}
.wrapper_filter{
  top: 27px !important;
  right: 0px;
}
.frequent_flyer_search{
  width: 50%;
}
.review_left a{
  width: 100%;
}
.inner_right span{
  padding-left: 0px;
}
.listing_page{
  padding-bottom: 0px;
}
.review_button button{
  margin: 20px auto!important;
}
.social_sharing_search h2 i{
  font-size: 18px;
}
.social_sharing_search h5 i{
  font-size: 18px;
}
.my_account ul li span{
  line-height: 35px;
  font-size: 16px;
}
.my_account h6{
  font-size: 15px;
}
.my_account h4{
  font-size: 16px;
}
.my_account{
  padding: 20px 15px  !important;
}
.my_account ul li strong{
  font-size: 14px;
}
.wrapper_recent{
  margin-top: -17px;
  left: 29%;

}
.recent_pagination{

}
.recent_margin img{
  height: 230px;
}
.about_body h3{
  line-height: 33px;
}
.contactus{
  text-align: center;
}
.contactus h3, .contactus h4{
  float: none;
  margin: 0px auto !important;
}
#accordion2{
  margin: 0px 0px;
}
.panel p{
  padding-top: 15px;
}
.faqheading{
  font-size: 22px !important;
}
#privacy_policy{
  padding: 25px 0px;
}
#privacy_policy h3{
  line-height: 30px;
}
#forgot_password .form_inner{
  width: 95% !important;
}
.my_account input , .my_account textarea{
  width: 100%;
}
  .myAccount {
    padding:0px !important;
  }
  .wow_review_recent{
    height: auto;
  }
  .myAccount ul a li{
    width: 100%;
  }
  .about_body{
    background:transparent;
  }
  .contactus{
    padding-bottom: 25px !important;
  }


}

@media only screen and (min-width:1024px) and (max-width:1500px) {
    .logo img {
        padding-left: 0px !important;
    }
    .social_media li {}
    .login_process li {
        margin: 30px 0px !important;
    }
    .wow_menu ul li {
        padding: 42px 8px !important;
    }
    .wow_menu_scroll ul li {
        padding-top: 62px !important;
        padding-bottom: 31px !important;
    }
    .login_process_scroll li {
        margin-bottom: 0px !important;
        margin-top: 49px !important;
    }
    .social_media li {
        height: 32px !important;
        width: 32px !important;
    }
    .login_inner,
    .form_inner {
        margin: 107px auto !important;
        width: 1000px !important;
    }
    .form_inner {
        min-height: auto !important;
    }
    .login_inner {
        height: auto !important;
    }
    .form_margin {
        padding: 35px 35px !important;
    }
    .form_margin input {
        height: 45px !important;
    }
    .form_social,
    .form_or {
        margin: 0px 0px !important;
    }
    .form_margin button {
        margin: 0px 0px !important;
    }
    .remember span {
        display: block;
        padding-bottom: 25px;
    }