html{}
body{}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary{display:block;}
audio,
canvas,
progress,
video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],
template{display:none;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em;}
button,
input,
optgroup,
select,
textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],
html input[disabled]{cursor:default;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
form label{width:100%;margin-bottom:10px;display:inline-block;text-transform:uppercase;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td,
th{padding:0;}
button,
input,
select,
optgroup,
textarea{color:#333333;font-size:16px;font-size:1rem;line-height:1.5;}
h1,
h2,
h3,
h4,
h5,
h6{color:#3498DB;line-height:1;font-weight:normal;margin-bottom:15px;}
p{margin:0 0 1.5em 0;}
dfn,
cite,
em,
i{font-style:italic;}
address{margin:0 0 1.5em;}
pre{background:#eee;font-family:"Courier 10 Pitch", Courier, monospace;font-size:15px;font-size:0.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em;}
code,
kbd,
tt,
var{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-size:15px;font-size:0.9375rem;}
abbr,
acronym{border-bottom:1px dotted #666;cursor:help;}
mark,
ins{background:#fff9c0;text-decoration:none;}
big{font-size:125%;}
html{box-sizing:border-box;}
*,
*:before,
*:after{box-sizing:inherit;}
blockquote{background:#f9f9f9;border-left:6px solid #ccc;padding:0.5em 10px;margin:0 0 1.5em 0;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em;}
ul,
ol{margin:0 0 1.5em 1em;}
ul{list-style:disc;}
ol{list-style:decimal;}
li > ul,
li > ol{margin-bottom:0;margin-left:1.5em;}
dt{font-weight:bold;}
dd{margin:0 1.5em 1.5em;}
img{height:auto;max-width:100%;}
figure{margin:1em 0;}
table{margin:0 0 1.5em;width:100%;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{color:#ffffff;font-size:16px;line-height:1.5;padding:10px 20px;font-weight:700;border:none;border-radius:3px;background:#0066CC;}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{opacity:0.9;border-color:#ccc #bbb #aaa;}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{border-color:#aaa #bbb #bbb;}
# Forms
--------------------------------------------------------------*/button,
input[type="button"],
input[type="reset"],
input[type="submit"]{color:#ffffff;font-size:16px;line-height:1.5;padding:10px 20px;font-weight:700;border:none;border-radius:3px;background:#0066CC;}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{opacity:0.9;border-color:#ccc #bbb #aaa;}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{border-color:#aaa #bbb #bbb;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea{color:#666;border:1px solid #e5e6e9;padding:16px;}
textarea{width:100%;}
select{border:1px solid #ccc;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus{color:#111;}
.main-navigationigation{display:block;float:left;width:100%;}
.main-navigationigation ul{display:none;list-style:none;margin:0;padding-left:0;}
.main-navigationigation ul li{float:left;position:relative;}
.main-navigationigation ul li a{display:block;text-decoration:none;}
.main-navigationigation ul ul{box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999;}
.main-navigationigation ul ul ul{left:-999em;top:0;}
.main-navigationigation ul ul a{width:200px;}
.main-navigationigation ul ul li{}
.main-navigationigation li:hover > a,
.main-navigationigation li.focus > a{}
.main-navigationigation ul ul:hover > a,
.main-navigationigation ul ul .focus > a{}
.main-navigationigation ul ul a:hover,
.main-navigationigation ul ul a.focus{}
.main-navigationigation ul li:hover > ul,
.main-navigationigation ul li.focus > ul{left:auto;}
.main-navigationigation ul ul li:hover > ul,
.main-navigationigation ul ul li.focus > ul{left:100%;}
.main-navigationigation .current_page_item > a,
.main-navigationigation .current-menu-item > a,
.main-navigationigation .current_page_ancestor > a,
.main-navigationigation .current-menu-ancestor > a{}
@media screen and (min-width:37.5em){.nav-#secondary-site-navigation{display:none;}
.main-navigationigation ul{display:block;}
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden;}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous{float:left;width:50%;}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next{float:right;text-align:right;width:50%;}
.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;word-wrap:normal !important;}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
#content[tabindex="-1"]:focus{outline:0;}
.alignleft{display:inline;float:left;margin-right:1.5em;}
.alignright{display:inline;float:right;margin-left:1.5em;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after{content:"";display:table;table-layout:fixed;}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after{clear:both;}
.sticky{display:block;}
.hentry{margin:0 0 1.5em;}
.updated:not(.published){display:none;}
.page-links{clear:both;margin:0 0 1.5em;}
.comment-content a{word-wrap:break-word;}
.comment-form label{margin-bottom:10px;display:inline-block;text-transform:capitalize;}
.bypostauthor{display:block;}
.comments-area{width:100%;}
.comment-respond .comment-form{width:100%;box-sizing:border-box;}
.comments-area .comment-respond{position:relative;}
.comments-area .comment-meta{position:relative;}
.comments-area .comments-title{margin-bottom:30px;color:#222222;font-size:30px;}
.comments-area .comment-meta .comment-metadata a{color:#999999;}
.comment-meta .vcard img{float:left;margin-right:14px;}
.comments-area .comment-author{line-height:normal;font-size:16px;font-weight:bold;margin-bottom:6px;}
.comments-area .comment-author .fn a{color:#222222;}
.comments-area .comment-content{padding:0 15px 0 114px;}
.comments-area ol{list-style:none;margin:0 0 30px 0;padding:0;}
.comments-area .reply .comment-reply-link i{font-size:12px;}
.comments-area .comment-content p{margin-bottom:5px;}
.comments-area p.form-submit{margin-bottom:0;padding-bottom:60px;}
.comments-area p.form-submit input{background:#000;border:none;color:#ffffff;font-size:14px;font-weight:normal;padding:10px 20px;text-shadow:none;box-shadow:none;border-radius:inherit;outline:none;margin:0;transition:background 0.25s linear;}
.comments-area p.form-submit input:hover{background:#3498DB;}
.comments-area ol.comment-list li{margin-bottom:20px;position:relative;}
.comments-area ol.comment-list > li:last-child{margin-bottom:0;}
.comments-area ol.comment-list > li{width:100%;border-bottom:3px solid #000000;}
#comments li.comment.depth-1:nth-child(even){}
#comments li.comment.parent article{background:#f5f5f5;padding:15px;}
#comments li.comment.parent article .reply,
.author-highlight li.bypostauthor article .reply{padding-bottom:0;}
.comments-area ol.comment-list ol.children{padding-top:20px;padding-left:114px;margin-bottom:0;}
.comments-area ol.comment-list li li.bypostauthor{position:relative;}
.comments-area.author-highlight ol.comment-list li.bypostauthor{border-bottom:3px solid #f00000;padding:40px;background:#f5f5f5;}
.comments-area .reply{padding-left:114px;font-size:14px;padding-bottom:20px;}
.comments-area .reply a:hover{color:#000;}
#comments li.comment .comment-respond{margin-left:92px;position:relative;}
.comment-reply-title{border-bottom:1px solid #3498DB;position:relative;color:#3498DB;margin:0 0 16px 0;padding-bottom:20px;}
.comment-reply-title:after{content:'';height:2px;background:#3498DB;position:absolute;bottom:0px;left:0;width:20%;}
.comment-reply-title small{position:absolute;top:0;right:0;text-transform:capitalize;}
.comment-form-wrap .comment-respond{position:relative;}
.comments-area .comment-respond *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.comment-respond .logged-in-as a{color:#222222;border-bottom:1px dotted;}
.comment-respond .logged-in-as a:hover{color:#f00000;}
.comments-area .comment-respond input[type="text"],
.comments-area .comment-respond input[type="email"],
.comments-area .comment-respond input[type="url"]{background:#ffffff;padding:8px 14px;width:100%;max-width:430px;margin-bottom:6px;}
.comments-area .comment-respond textarea{margin-bottom:0px;}
.comments-area p{margin-bottom:12px;}
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer{display:none;}
.infinity-end.neverending .site-footer{display:block;}
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;}
embed,
iframe,
object{max-width:100%;}
.custom-logo-link{display:inline-block;}
.wp-caption{margin-bottom:1.5em;max-width:100%;}
.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto;}
.wp-caption .wp-caption-text{margin:0.8075em 0;}
.wp-caption-text{text-align:center;}
.gallery{margin-bottom:1.5em;}
.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%;}
.gallery-columns-2 .gallery-item{max-width:50%;}
.gallery-columns-3 .gallery-item{max-width:33.33333%;}
.gallery-columns-4 .gallery-item{max-width:25%;}
.gallery-columns-5 .gallery-item{max-width:20%;}
.gallery-columns-6 .gallery-item{max-width:16.66667%;}
.gallery-columns-7 .gallery-item{max-width:14.28571%;}
.gallery-columns-8 .gallery-item{max-width:12.5%;}
.gallery-columns-9 .gallery-item{max-width:11.11111%;}
.gallery-caption{display:block;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{width:100%;display:inline-block;}
* html .clearfix{height:1%;}
.fbox{width:100%;background-color:#ffffff;margin-bottom:30px;border-radius:1px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.fbox h1,
.fbox h2,
.fbox h3{margin-top:0;color:#222222;}
.page-header h1{margin-bottom:0;}
.content-wrap{width:1180px;max-width:90%;margin:0 auto;}
.sheader{width:100%;position:relative;margin:0 0 40px 0;background:#ffffff;box-shadow:0 2px 5px -2px #9baac2;}
.site-branding{display:inline-block;margin:27px 0;}
.branding-logo{margin:0;}
.branding-logo .custom-logo{display:block;max-height:75px;width:auto;}
.site-branding .site-title{font-size:48px;line-height:48px;font-weight:bold;padding:0;margin:0;text-transform:uppercase;font-family:"sans-serif", Helvetica Neue, Georgia;}
.site-branding .site-title a{color:#000222;text-decoration:none;}
.site-branding .site-title a:hover{color:#0066CC;}
.site-branding .logo-image{margin-top:0;}
.site-branding .site-description{font-size:16px;color:#000222;padding:0;margin:0;}
.ads-top .search-submit,
.featured-sidebar .search-submit{display:none;}
.search-form label{width:auto;float:left;margin-bottom:0;}
.featured-sidebar label{width:100%;float:none;}
.search-form .search-submit{padding:19px 24px;border:none;border-radius:0 3px 3px 0;}
.ads-top{width:70%;float:right;padding:22px 0;overflow:hidden;}
.ads-top .textwidget img{display:block;}
.ads-top .search-field{width:220px;padding:15px;float:right;margin:14px 0px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
.ads-top label{float:right;}
#smobile-menu{display:none;}
.main-navigation ul{list-style:none;margin:0;padding:0;}
.main-navigation ul li{float:left;position:relative;}
.main-navigation ul li a{font-size:15px;text-transform:uppercase;display:block;}
.main-navigation ul li:hover > a,
.main-navigation ul li > a:hover,
.main-navigation ul li.current-menu-parent > a,
.main-navigation ul li.current-menu-ancestor > a,
.main-navigation ul li.current_page_ancestor > a,
.main-navigation ul li.current-menu-item > a{opacity:0.8;text-decoration:none;}
.main-navigation ul li:hover > ul{display:block;}
.main-navigation ul li .sub-arrow{width:50px;line-height:50px;display:none;position:absolute;right:0;top:0;color:#fff;font-size:14px;text-align:center;cursor:pointer;}
.mobile-menu .fa-bars{float:right;margin-top:3px;}
.main-navigation ul li .arrow-sub-menu::before{font-size:12px;}
.primary-menu{background:#000222;margin:0;position:relative;z-index:2;}
.primary-menu .pmenu{float:left;}
.primary-menu ul li a{color:#ffffff;padding:16px;}
.primary-menu ul li a:hover,
.primary-menu ul li.current-menu-parent > a,
.primary-menu ul li.current-menu-ancestor > a,
.primary-menu ul li.current_page_ancestor > a,
.primary-menu ul li.current-menu-item > a{opacity:0.8;}
.primary-menu ul li .fa-chevron-right{color:#ffffff;}
.primary-menu ul ul li .fa-chevron-right{color:#010101;}
.primary-menu ul li ul.children,
.primary-menu ul li ul.sub-menu{background:#000222;}
.primary-menu ul li ul.children li,
.primary-menu ul li ul.sub-menu li{border-bottom:1px solid rgba(255, 255, 255,0.1);}
.secondary-menu{width:100%;float:left;border-top:1px solid #e5e6e9;position:relative;}
.secondary-menu .smenu ul li a,
.secondary-menu ul.smenu li a{color:#333333;padding:24px 16px;}
.secondary-menu ul.smenu li.current-menu-item a,
.secondary-menu ul.smenu li a:hover{color:#0066CC;}
.secondary-menu ul.smenu ul li{border-bottom:1px solid #e5e6e9;}
.secondary-menu ul.smenu ul li a{padding:16px;}
.secondary-menu ul.smenu > li:first-child{border:none;}
.main-navigation ul.pmenu > li:first-child a{padding-left:0;}
.secondary-menu .arrow-menu{position:absolute;top:0;right:0;cursor:pointer;text-align:center;display:none;width:42px;height:42px;line-height:44px;border-left:1px solid rgba(0, 0, 0, 0.2);}
.secondary-menu ul.smenu li.btn-right{float:right;border:none;margin:16px 0;}
.secondary-menu ul.smenu li.btn-right a{padding:9px 25px 11px;font-weight:500;background:#0066CC;text-align:center;text-transform:capitalize;display:block;line-height:1.25;box-sizing:border-box;color:#fff;border-radius:3px;}
.secondary-menu .btn-right a:hover{opacity:0.8;color:#fff;}
.search-style-one{width:100%;position:fixed;overflow:hidden;height:90px;z-index:9;left:0;-webkit-transform:translateX(100%);transform:translateX(100%);transition:-webkit-transform 0.4s linear, visibility 0.1s;transition:transform 0.4s linear, visibility 0.1s;}
.overlay{background:rgba(0, 0, 0, 0.7);width:100%;}
.search-style-one.open{-webkit-transform:translateX(0);transform:translateX(0);}
.search-row{position:relative;margin:0 auto;}
.overlay .overlay-close{width:50px;height:52px;line-height:52px;position:absolute;right:8%;top:15px;font-size:20px;overflow:hidden;border:none;padding:0 17px;color:#3a5795;background:rgba(255, 255, 255, 0.9);outline:none;z-index:100;cursor:pointer;border-radius:2px;}
.search-style-one .search-row input#s{width:100%;height:82px;line-height:82px;padding:20px 30px;color:#ffffff;font-size:18px;outline:none;background:none;border:none;box-sizing:border-box;}
#site-header{width:100%;text-align:center;display:inline-block;position:relative;z-index:3;margin:0;background:#fff;}
#site-header a{display:block;}
#site-header img{width:auto;display:inline-block;line-height:20px;margin:0;vertical-align:top;}
.site-header ul ul{background:#ffffff;list-style:none;min-width:240px;display:none;position:absolute;top:inherit;left:0;margin:0;padding:0;z-index:9;}
.site-header ul ul li{float:none;}
.site-header ul ul ul{top:0;left:240px;}
.site-content{width:100%;display:block;}
.featured-content{width:66%;margin-right:4%;float:left;}
.featured-thumbnail{float:left;margin:0 4% 0 0;}
.posts-entry .entry-content p:last-child{margin-bottom:0;}
.posts-entry .entry-footer{width:100%;display:inline-block;margin:1.5em 0 0;font-size:12px;text-align:left;background:#f1f1f1;padding:5px 20px;}
.single .posts-entry .entry-footer{text-align:left;background:none;padding:0;}
.entry-meta{margin-bottom:14px;font-family:"Droid Serif", "Helvetica Neue", sans-serif;}
.post-item-grid-view .entry-meta{margin-bottom:0;}
.entry-meta span{color:#999999;font-size:12px;font-style:italic;}
.entry-meta span a{color:#444444;}
.entry-footer span{padding-right:16px;position:relative;}
.entry-footer span:after{content:"";height:12px;overflow:hidden;border-right:1px solid royalblue;position:absolute;right:8px;top:1px;}
.entry-footer span:last-child:after{content:"";display:none;}
.entry-header h2 a{text-decoration:none;}
.entry-header h2:hover a{color:#3498DB;}
.site-footer{width:100%;float:left;padding:20px 0;background:#000222;}
.site-info{float:left;font-size:14px;line-height:normal;color:#ffffff;}
.site-info a{color:#ffffff;}
.site-info a:hover{border-bottom:dotted 1px;text-decoration:none;}
.site-info p{padding:0;}
.pagination:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden;}
.nav-links{width:100%;display:inline-block;}
.nav-links a,
.nav-links .dots,
.nav-links span.current{line-height:normal;}
.nav-links span.current{color:#ffffff;}
.nav-links .nav-previous,
.nav-links .nav-next{max-width:40%;}
.nav-links .nav-previous{float:left;text-align:left;}
.nav-links .nav-next{float:right;text-align:right;}
.posts-navigation .nav-next a,
.paging-navigation .nav-links .nav-next a{float:right;}
.pagination a,
#load-posts a{background:#ffffff;margin:0;display:inline-block;line-height:1;text-decoration:none;color:#333333;padding:2% 4%;box-sizing:border-box;}
.nav-links .nav-previous,
.nav-links .nav-next{background:#ffffff;margin:0;display:inline-block;line-height:1;text-decoration:none;color:#333333;padding:2% 4%;box-sizing:border-box;border-radius:1px;}
.nav-links span.meta-nav{font-size:18px;}
#load-more-wrap{width:100%;text-align:center;}
#load-more-wrap a{background:#f3f2f2;padding:10px;display:block;}
.posts-related{width:100%;display:inline-block;}
.posts-related ul{width:100%;display:inline-block;list-style:none;margin:0;padding:0;}
.posts-related ul.grid-related-posts li{width:31.3%;float:left;margin:0 3% 3% 0;}
.posts-related ul.grid-related-posts li:nth-child(3n){margin-right:0;}
.posts-related ul.grid-related-posts li:nth-child(3n+1){clear:left;}
.posts-related ul.list-related-posts{margin-bottom:0;}
.posts-related ul.list-related-posts li{width:100%;float:left;display:block;margin:0 0 2% 0;padding-bottom:2%;border-bottom:1px solid #f5f5f5;}
.posts-related ul.list-related-posts li:last-child{margin-bottom:0;padding-bottom:0;border-bottom:none;}
.posts-related .list-related-posts .featured-thumbnail{max-width:160px;max-height:160px;}
.posts-related .list-related-posts .featured-thumbnail img{width:100%;height:100%;display:block;}
.posts-related ul.list-related-posts .related-data a{color:#3498DB;display:block;margin-bottom:5px;}
.posts-related ul.nothumb-related-posts{width:100%;display:inline-block;margin-bottom:0;padding:0;}
.posts-related ul.nothumb-related-posts li{line-height:34px;}
.featured-sidebar{width:30%;float:left;}
.widget{width:100%;float:left;clear:both;}
.swidget{width:100%;display:inline-block;border-bottom:1px solid #3498DB;margin-bottom:20px;}
.swidget h3{}
.widget ul{padding:0;margin-bottom:0;list-style-position:inside;}
.widget > ul{margin:0;}
.widget ul li{padding:0 0 10px 0;margin-bottom:10px;display:block;}
.widget ul li a{display:block;}
.widget ul li.recentcomments{color:#919191;}
.widget .popular-post-meta,
.widget .recent-post-meta{font-size:12px;line-height:normal;}
.widget .post-img{float:left;margin-right:10px;}
#wp-calendar{margin-bottom:0;}
#wp-calendar thead th{padding:0;text-align:center;}
#wp-calendar td{text-align:center;padding:7px 0;}
#wp-calendar caption{font-size:16px;padding-bottom:10px;font-weight:bold;}
#wp-calendar tfoot{margin-top:30px;}
#wp-calendar #prev{text-align:left;padding:0;padding-left:12px;}
#wp-calendar #next{text-align:right;padding:0;padding-right:12px;}
#wp-calendar #prev a,
#wp-calendar #next a{text-decoration:none;}
.fmenu{width:100%;display:inline-block;text-align:center;margin-top:10px;}
.fmenu ul{width:100%;list-style:none;margin:0;padding:0;line-height:normal;}
.fmenu ul li{float:none;display:inline-block;}
.fmenu ul li a{color:#ffffff;text-transform:none;margin:0 8px;font-size:14px;line-height:normal;}
.fmenu ul li a:hover{border-bottom:dotted 1px;text-decoration:none;}
@media (min-width:1024px){.super-menu,
.toggle-mobile-menu{display:none;}
}
@media (min-width:992px){.fmenu{width:auto;float:right;margin-top:0;text-align:right;}
.arrow-menu{display:none;}
.footer-menu{width:100%;}
.footer-menu ul{float:right;}
.footer-menu ul li{float:left;line-height:14px;}
.footer-menu ul ul{margin-left:0;list-style:none;border-left:1px solid #cccccc;}
.footer-menu ul > li:first-child{border:none;}
.footer-menu ul li.main-navigation-item-has-children ul,
.footer-menu ul li.main-navigation-item-has-children a{float:left;}
.footer-menu ul li .arrow-sub-menu{display:none;}
.secondary-menu .smenu ul ul.children,
.secondary-menu .smenu ul ul.sub-menu{box-shadow:0 2px 5px -2px #9baac2;}
.secondary-menu .smenu ul ul.children li,
.secondary-menu .smenu ul ul.sub-menu li{border-bottom:1px solid #f5f5f5;}
}
@media screen and (max-width:1023px){*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.site-branding{text-align:center;width:100%;margin-bottom:0;}
.ads-top{width:100%;text-align:center;}
.ads-top .textwidget img{display:inline;}
.search-form label{width:100%;}
.ads-top .search-field{width:100%;}
.main-container-wrap{position:relative;left:0;transition:left 500ms ease;}
#mobile-menu-overlay{position:fixed;width:100%;height:100%;top:0;left:0;z-index:999;cursor:pointer;display:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;background:rgba(0,0,0,.5);}
#page{position:relative;left:0;top:0;transition:left 500ms ease;-webkit-transition:-webkit-transform 500ms ease;transition:transform 500ms ease;}
.search{display:none;}
.smenu-hide,
.main-navigation{display:none;}
.mobile-menu-active .smenu-hide{display:block;color:#fff;}
.mobile-menu-active #mobile-menu-overlay{display:block;}
.mobile-menu-active #page{width:100%;max-width:100%;position:fixed;top:0;right:300px;transition:left 500ms ease;-ms-transform:translate(70%, 0);-webkit-transform:translate(70%, 0);transform:translate(70%, 0);}
#smobile-menu{background-color:#000;position:fixed;width:70%;top:0;bottom:0;left:-70%;z-index:5999998;overflow-x:hidden;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);transition:-webkit-transform 0.3s ease;transition:transform 0.3s ease;}
#smobile-menu .content-wrap,
#smobile-menu .primary-menu ul{width:100%;max-width:100%;margin:0;}
#smobile-menu.show{left:0;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
#smobile-menu.show .main-navigation{width:100%;float:left;display:block;margin:0;}
#smobile-menu.show .main-navigation ul li{width:100%;display:block;border-bottom:1px solid #333;}
#smobile-menu.show .main-navigation ul li a{padding:12px 20px;}
#smobile-menu.show .main-navigation ul ul.children,
#smobile-menu.show .main-navigation ul ul.sub-menu{display:none;}
#smobile-menu.show .main-navigation ul ul.children.active,
#smobile-menu.show .main-navigation ul ul.sub-menu.active{border-top:1px solid #333;}
#smobile-menu.show .main-navigation ul ul.children li:last-child,
#smobile-menu.show .main-navigation ul ul.sub-menu li:last-child{border:none;}
#smobile-menu.show .main-navigation ul li .sub-arrow{display:block;}
.toggle-mobile-menu{display:inline-block;width:100%;margin:auto;position:relative;color:#fff;background:#0274BE;text-align:right;z-index:1;padding:12px 20px;}
.toggle-mobile-menu:hover{color:#fff;}
.toggle-mobile-menu:before{font-family:FontAwesome;content:"\f0c9";font-size:18px;line-height:50px;margin-right:10px;position:absolute;left:0;top:0;}
.mobile-only .toggle-mobile-menu{text-decoration:none;}
.mobile-only .toggle-mobile-menu:before{left:20px;}
.super-menu{background:#0274BE;}
.super-menu-inner{width:1120px;max-width:90%;margin:0 auto;}
.super-menu .toggle-mobile-menu{padding:10px 0;color:#fff;outline:none;text-decoration:none;}
.super-menu .main-navigation-toggle:before{left:0;}
}
@media (max-width:992px){.featured-content,
.featured-sidebar{width:100%;margin:0;}
.widget-area .fbox{padding:4%;}
.site-info{width:100%;text-align:center;}
}